$xxsmallfont: 0.75rem;
$xsmallfont: 1rem;
$msmallfont: 1.25rem;
$smallfont: 1.5rem;
$lgsmallfont: 1.75rem;
$xmedfont: 2rem;
$smedfont: 2.25rem;
$medfont: 2.75rem;
$smlargefont: 3.25rem;
$largefont: 4rem;
$xlargefont: 6rem;
$xxlfont: 9rem;