@import "colors";
@import "_fonts";
@import "_mixin";

@media only screen and (min-width: 992px) {

    .headerNav{
        
     
        a{
            margin: 25px;
            font-size: $msmallfont;
        }
    }

    .topSection{
        
        img{
            display: block;
            margin: auto; 
            width: 100%;
            height: 800px;
        }
    }

    .topSectionAction{
        top: 55%;
        @include action;

        p{
            font-size: $smedfont;
        }
        
    }

    .aboutSectionOne{
        
        margin: 20px 50px;

        P{
        margin-top: 40px;
        font-size: $msmallfont;
        }
    }

    .aboutSectionTwo{
        margin: 20px 50px;

        P{
        margin-top: 60px;
        font-size: $msmallfont;
        }
    }

    .aboutSectionThree{
        margin: 20px 50px;

        P{
        margin-top: 50px;
        font-size: $msmallfont;
        }
    }

    .aboutSectionFour{
        margin: 20px 50px;

        P{
        margin-top: 60px;
        font-size: $msmallfont;
        }
    }
    
}

@media only screen and (min-width: 1200px) {


    .header{
        flex-direction: row;
    }

    .headerLogo{
        flex: 35%;

        h1{
            text-align: left;
            margin-left: 25px;
        }
    }
    .headerNav{
        flex: 65%;
       
       
        ul{
            margin: 10px auto;
        }

        a{
         font-size: $smallfont;
            
        }
    }

    .topSection{

        img{
            height: 100vh;
        }
    }

    .topSectionAction{

        p{
            font-size: $medfont;
            text-align: center;
            margin-left: 25px;
            width: 60%
        }
       
    }

    .aboutSection{
        @include flex;
        
      
       
    }
    .aboutSectionOne{
       @include flexbox;

        img{
            max-width: 100%;
            height: 350px;
            
        }

        p{
            margin-top: 10px;
        }

    }

    .aboutSectionTwo{
        @include flexbox;


        img{
            max-width: 100%;
            height: 350px;
        }

        p{
            margin-top: 25px;
        }
    }

    .aboutSectionThree{
        @include flexbox;

        img{
            max-width: 100%;
            height: 350px;
        }

        p{
            margin-top: 20px;
        }
    }

    .aboutSectionFour{
        @include flexbox;


        img{
            max-width: 100%;
            height: 350px;
        }

        p{
            margin-top: 25px;
        }
    }

    

    .menuSection{

        h1{
            font-size: $smlargefont;
        }

        h2{
           font-size: $medfont; 
        }

        li{
            font-size: $smallfont;
        }

        p{
            font-size: $smallfont;
            width: 50%;
            margin: auto;
         
        }

        th{
            font-size: $smallfont;
        }

        td{
            font-size: $msmallfont;
        }
    }

    .infoSection{

        h1{
            font-size: $smlargefont;
        }

        p{
            font-size: $smallfont;
        }
    }
}