@mixin box {
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-shadow: 2px 2px 5px $darkred;  
}

@mixin flow {
    position: relative;
    z-index: -1;
}

@mixin flex {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

@mixin flexbox {
    display:flexbox;
    flex-direction: column;
    width: 40%;
    height: 600px; 
}

@mixin paragraph {
    text-align: center;
    padding: 10px; 
    margin: 10px;
}

@mixin card {
    background-color: $darkgreen;
    border: 2px solid $darkred;
    overflow: hidden;
    border-radius: 25px;
    margin: 15px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px $black;
    opacity: 0.85;
    &:hover{
        opacity: 1.0; 
     }
    
}

@mixin anchor {
    color: $white;
    text-align: center;
    text-decoration: none;
    font-family: 'BioRhyme', serif;
    font-weight: 400;
    padding: 5px;
    
}

@mixin hamAnchor {
    color: $white;
    text-align: center;
    text-decoration: none;
    font-family: 'BioRhyme', serif;
    font-weight: 400;
    padding: 10px;
    margin-top: 25px;
    
}

@mixin image {
    max-width: 50%;
    height: auto;
    
    
   
}

@mixin list {
    text-align: center;
    padding: 5px;
    font-family: 'BioRhyme', serif;
    font-weight: 400;
    
}

@mixin footer {
    background-color: $darkred;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@mixin action {
    width: 100%; 
    position: absolute;
}