@import "colors";
@import "_fonts";
@import "_mixin";

@media only screen and (max-width: 600px){
    

    .header{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row-reverse;
    }


    .headerNav a{
        display: none;    
      }
    
    .headerNav button{
        display: none;
    }

      .headerOrder{
        display: none;
      }
    

      .headerLogo{
       flex: 100%;
      }

      .headerLogo h1{
        font-size: 2rem;
        text-align: center;
        margin: 5px 0px 0px 0px;
      }
      .hamburger {
        margin: 18px auto;
        display: block;
        position: absolute;
        flex: 10%;
        top: 0;
        left: 0;
       
      }

    .hamburger a{
        
        font-size: $smallfont;
        @include hamAnchor;   
    }

    .hamburgerOrder{
        background-color: $red;
        border: 2px solid $darkred;
        border-radius: 20px;
        padding: 2px 4px;
        margin-top: 30px;
        box-shadow: 0px 0px 20px $darkred;
        
        a{
            font-size: $lgsmallfont;

        }

        a:hover{
            color: $white;
            text-decoration: none;
        }

    }

    .hamburgerOrder:hover{
        background-color: $green;
        box-shadow: 0px 0px 20px $green;
    }

    .topSection{
      @include flow;
      //border-bottom: 2px solid $white;
      //border-top: 2px solid $white;
      margin: 0px;
      img{
          width: 100%;
          height: 500px;
      }
    }
    
    .topSectionAction{
        top: 60%;
        @include action;
       
     
    
        p{
            font-size: $lgsmallfont; 
            @include box;
            opacity: 1;
        }
    }
    
    .aboutSection{
        @include flow;
        margin: 0;
        padding: 20px;
       

    }
    .aboutSectionOne{
        @include card;
        opacity: 0;
    
        p{
            font-size: $xsmallfont;
            margin: 10px;
            @include paragraph;
        }
    }
    
    .aboutSectionTwo{
        @include card;
        opacity: 0;
    
        p{
            font-size: $xsmallfont;
            margin: 10px;
            @include paragraph;
        }
    }
    
    .aboutSectionThree{
        @include card;
        opacity: 0;
    
        p{
            font-size: $xsmallfont;
            margin: 10px;
            @include paragraph;
        }
    }
    
    .aboutSectionFour{
        @include card;
        opacity: 0;
    
        p{
            font-size: $xsmallfont;
            margin: 10px;
            @include paragraph;
        }
    }
    
    .menuSection{
        @include flow;
        padding: 25px;
    
        h1{
            font-size: $smedfont;
            @include box;  
        }
        h2{
            font-size: $smallfont;
            @include box;
        }
    
        table{
            margin-left: auto;
            margin-right: auto;
        }

        td{
            font-size: $xxsmallfont;
        }

        li{
          
            font-size: $xsmallfont;
            @include list;
        }
    

        p{
            font-size: $xsmallfont;
            @include paragraph;
            
        }
    
    }

    .menuSectionSides{
        opacity: 0;
        padding-top: 50px;
    }

    .menuSectionSandwich{
        opacity: 0;
        padding-top: 50px;
    }

    .menuSectionPasta{
        opacity: 0;
        padding-top: 50px; 
    }

    .menuSectionPizza{
        opacity: 0;
        padding-top: 50px; 
    }
    
    .menuSectionToppings{
        opacity: 0;
        padding-top: 50px; 
    }

    .infoSection{
        @include flow;
        padding: 25px;
       
        h1{
            font-size: $smedfont;
            @include box;
        }
    
        p{
            font-size: $xsmallfont;
            @include paragraph;
            
        }
    }

    .infoSectionHours{
        position:inherit;
        opacity: 0;
        left: -25px;
        overflow: hidden;
        -moz-overflow:hidden;
         

    }

    .infoSectionContact{
        position:inherit;    
        opacity: 0;
        left: -25px; 
        overflow: hidden;
        -moz-overflow:hidden;
    }
   
    .footerSection{
       @include footer;
        
        a{
            display: block;
            font-size: $xsmallfont;
            @include anchor;
            
        }
    
        p{
            font-size: $xsmallfont;
            @include paragraph;
            
        }
    }
    
    
    }