@import "colors";
@import "_fonts";
@import "_mixin";

@media only screen and (max-width: 600px){
    
    .headerNav a{
        display: none;    
      }

      .hamburger {
        background-color: $darkred; 
        margin: 0;
        display: block;
        position: absolute;
        width: 100%;
        cursor: pointer;
      }

    .hamburger a{
        font-size: $smedfont;
        @include hamAnchor;   
    }
    
   
    .topSection{
      @include flow;
      margin: 0;

      img{
          width: 100%;
          height: 500px;
      }
    }
    
    .topSectionAction{
        top: 10%;
        @include action;
       
     
        h1{
            font-size: $largefont;
            @include box; 
            opacity: 1; 
        }
    
        h2{
            font-size: $smallfont; 
            @include box;
            opacity: 1;
        }
    }
    
    .aboutSection{
        @include flow;
        margin: 0;
        padding: 2px;
        
        h1{
            font-size: $medfont;
            @include box;
        }
    }
    .aboutSectionOne{
        @include card;
        opacity: 1;
    
        p{
            font-size: $xsmallfont;
            @include paragraph;
        }
    }
    
    .aboutSectionTwo{
        @include card;
        opacity: 1;
    
        p{
            font-size: $xsmallfont;
            @include paragraph;
        }
    }
    
    .aboutSectionThree{
        @include card;
        opacity: 1;
    
        p{
            font-size: $xsmallfont;
            @include paragraph;
        }
    }
    
    .aboutSectionFour{
        @include card;
        opacity: 1;
    
        p{
            font-size: $xsmallfont;
            @include paragraph;
        }
    }
    
    .menuSection{
        @include flow;
    
        h1{
            font-size: $medfont;
            @include box;  
        }
        h2{
            font-size: $smallfont;
            @include box;
        }
    
        table{
            margin-left: auto;
            margin-right: auto;
        }

        li{
          
            font-size: $xsmallfont;
            @include list;
        }
    
        p{
            font-size: $xsmallfont;
            @include paragraph;
            
        }
    
    }
    
    .infoSection{
        @include flow;
       
        h1{
            font-size: $medfont;
            @include box;
        }
    
        p{
            font-size: $smallfont;
            @include paragraph;
            
        }
    }
   
    .footerSection{
       @include footer;
        
        a{
            display: block;
            font-size: $xsmallfont;
            @include anchor;
            
        }
    
        p{
            font-size: $xsmallfont;
            @include paragraph;
            
        }
    }
    
    
    }