@import "colors";
@import "_fonts";
@import "_mixin";

.orderBody{
    background-image: url(images/arch.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  
  .orderItems{ 
    background-color: $white;
    box-shadow: 0px 0px 25px $darkred;
    padding: 15px 10px;
  
   
  }

  .orderItems h1{
    color: $red;
    text-align: center;
  }
  
  .orderItems label{
    color: $black;
    text-align: center;
    display: inline-block;
 
  }

  .orderItems button{
    background-color: $green;
    color: $white;
    border: 1px solid $darkred;
    border-radius: 20px;
    box-shadow: 0px 0px 5px $darkred;
    cursor: pointer;
  }
  
.pizza-Items label{
  text-align: left;
  display: inline-block;
  width: 30%;

}

.pizza-Items input{
  width: auto;
  padding: 0;
  margin: 0;

}

.checkOut{
  width: 100%;
  height: 50px;
  padding: 5px 0px;
  border-top: 1px solid $darkred;
  position: relative;
}

.check{ 
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 25px;
  background-color: $red;
  border: 2px solid $darkred;
  border-radius: 20px;
  padding: 5px 10px;
  box-shadow: 0px 0px 20px $darkred;
   
  a{
      font-size: $smallfont;
      color: $white;
      text-decoration: none;

  }

  a:hover{
      color: $white;
      text-decoration: none;
  }
}

.check:hover{
  background-color: $darkgreen;
  box-shadow: 0px 0px 20px $green;
}


  @media only screen and (max-width: 600px){

    .orderItems{
        width: 95%;
        height: auto;
        margin: 0 auto;
        text-align: center;
    }

    .orderItems h1{
        font-size: $smedfont;
        padding: 5px;
        margin: 5px; 
      }

      .orderItems label{
        font-size: $xsmallfont;
        width: 150px;
        padding: 10px auto;
        margin: 5px;
      
      }

      .orderItems input{
        width: 50px;
        height: auto;
        margin: 10px 5px;
        padding: 3px;
        font-size: $xxsmallfont;
      }

      .orderItems button{
        margin: 10px auto;
        padding: 5px 10px;
      }

      .pizza-Items label{
        width: 75px;
        margin: 0px;
      }

      .pizza-Items select{
        margin: 5px 25px;
      }

      .pizza-Items button{
        margin: 15px 0px;
        
      }



      .side-Items{
        width: 100%;
        margin: 5px auto;
      }

      .sandwich-Items{
        width: 100%;
        margin: 0 auto;
      }

      .pasta-Items{
        width: 100%;
        margin: 0 auto;
      }

      .pizza-Items{
        width: 100%;
        margin: 0 auto;
      }

  }

  @media only screen and (min-width: 601px){

  .orderItems{
      width: 90%;
      height: auto;
      margin: 0 auto;
      text-align: center;
  }

  .orderItems h1{
    font-size: $smedfont;
    padding: 5px;
    margin: 5px; 
  }

  .orderItems label{
    font-size: $xsmallfont;
    width: 250px;
    padding: 10px auto;
    margin: 5px 0px; 
  }

  .orderItems input{
    width: 50px;
    height: auto;
    margin: 10px;
    padding: 5px;
    font-size: $xxsmallfont;
  }

  .orderItems button{
    margin: 10px 15px;
    padding: 5px 10px;
    font-size: $xxsmallfont;
  }

  .pizza-Items label{
    font-size: $xsmallfont;
    width: 150px;
    margin: 0px auto;
  }

  .pizza-Items select{
    margin: 5px 25px;
  }

  .pizza-Items button{
    margin: 15px 0px;
  
  }
  

  .side-Items{
    width: 90%;
    margin: 0px auto;
    
    
  }

  .sandwich-Items{
    width: 90%;
    margin: 0px auto;
    
  }

  .pasta-Items{
    width: 90%;
    margin: 0px auto;
  }

  .pizza-Items{
    width: 90%;
    margin: 0px auto;
    
    
  }  


  }

  @media only screen and (min-width: 992px) {

    .orderItems h1{
      font-size: $medfont;
      
    }
  
    .orderItems label{
      font-size: $msmallfont;
       
    }
  
    .orderItems input{
      width: 75px;
      font-size: $xsmallfont;
    }

    .orderItems button{
     
      padding: 10px 15px;
      font-size: $xsmallfont;
    }


  }

  @media only screen and (min-width: 1800px){

    .orderItems{
      width: 1800px;
    }
  }