@import "colors";
@import "_fonts";
@import "_mixin";

.orderBody{
    background-image: url(images/arch.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  
  .orderItems{ 
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 25px $darkred;
    padding: 15px 10px;
    
  }

  .orderItems h1{
    color: $red;
    text-align: center;
  }
  
  .orderItems label{
    color: $black;
    text-align: center;
    display: inline-block;
 
  }

  .orderItems button{
    background-color: $green;
    color: $white;
    border: 1px solid $darkred;
    border-radius: 20px;
    box-shadow: 0px 0px 5px $darkred;
    cursor: pointer;
  }
  
.pizza-Items label{
  text-align: left;
  display: inline-block;
  width: 30%;

}

.pizza-Items input{
  width: auto;
  padding: 0;
  margin: 0;

}

.cart{
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 25px $darkred;
  padding: 15px 10px;
  display: none;
  opacity: 0;


}

.bottomCart{
  background-color: $white;
  margin: 10px auto;
  position: relative;
}

.bottomCart button{
  position: absolute;
  right: 0;
  background-color: $red;
  border: 2px solid $darkred;
  border-radius: 20px;
  padding: 7px 15px;
  box-shadow: 0px 0px 20px $darkred;
  color: $white;
  text-decoration: none;
  cursor: pointer;
}

.cart h1{
  color: $red;
  text-align: center;
}

.cart label{
  color: black;
 
}

.cart p{
  color: black;
  font-size: 1rem;
  text-align: center;
  
}


.cartItems div{
  text-align: center;
}

.cartItems p{
  width: 80%;
  margin: 0px auto;
  display: inline-block; 
}

.cartItems button{
  background-color: $red;
  color: $white;
  border: 1px solid $darkred;
  border-radius: 20px;
  box-shadow: 0px 0px 5px $darkred;
  cursor: pointer;
}

.cartItems #total{
  width: 100%;
  text-align: right;
  padding-top: 50px;
  padding-right: 75px;
  
}

.checkoutInfo input{
  border: 2px solid $green;
  border-radius: 5px;
  background-color: rgba(51, 85, 0, 0.2);
}

.checkoutInfo button{
  background-color: $green;
  color: $white;
  border: 2px solid $darkred;
  border-radius: 5px;
  box-shadow: 0px 0px 5px $darkred;
  cursor: pointer;
  margin-left: 50px;
}

.shopcart{
  position: absolute;
  right: 0;
  color: $white;
  cursor: pointer;
}


  @media only screen and (max-width: 600px){

    .shopcart{
      font-size: 32px;
      margin-top: 15px;
    }

    .orderItems{
        width: 95%;
        height: auto;
        margin: 0 auto;
        text-align: center;
    }

    .orderItems h1{
        font-size: $smedfont;
        padding: 5px;
        margin: 5px; 
      }

      .orderItems label{
        font-size: $xsmallfont;
        width: 150px;
        padding: 10px auto;
        margin: 5px;
      
      }

      .orderItems input{
        width: 50px;
        height: auto;
        margin: 10px 5px;
        padding: 3px;
        font-size: $xxsmallfont;
      }

      .orderItems button{
        margin: 10px auto;
        padding: 5px 10px;
      }

      .pizza-Items label{
        width: 75px;
        margin: 0px;
      }

      .pizza-Items select{
        margin: 5px 25px;
      }

      .pizza-Items button{
        margin: 15px 0px;
        
      }

      .side-Items{
        width: 100%;
        margin: 5px auto;
      }

      .sandwich-Items{
        width: 100%;
        margin: 0 auto;
      }

      .pasta-Items{
        width: 100%;
        margin: 0 auto;
      }

      .pizza-Items{
        width: 100%;
        margin: 0 auto;
      }

      .cart{
        width: 95%;
        height: auto;
        margin: 0px auto;
        flex-direction: column; 
      }

      .cart h1{
        font-size: $smedfont;
        padding: 5px;
        margin: 5px; 
      }

      .cartItems{
        border-bottom: 1px solid $darkred;
        padding: 10px;
      }

      .cartItems p{
        font-size: $smallfont;
      }

      .orderedItems p{
        text-align: center;
        font-size: $xsmallfont;
        width: 225px;
        display: inline-block;  
      }

      .cartItems button{
        font-size: $xxsmallfont;
        padding: 8px;
        margin: 5px auto;
       
      }

      .checkoutInfo{
        text-align: center;
        margin: 25px auto;
      }

      .checkoutInfo label{
        font-size: $msmallfont;
        font-weight: bold;
        margin: 10px auto;
        width: 150px;
        display: inline-block;
      }

      .checkoutInfo input{
        margin: 10px 5px;
        padding: 5px;
        font-size: $xsmallfont;
      }

      .checkoutInfo button{
        padding: 5px;
        font-size: $xsmallfont;  
      }



  }

  @media only screen and (min-width: 601px){

  .orderItems{
      width: 90%;
      height: auto;
      margin: 0 auto;
      text-align: center;
  }

  .orderItems h1{
    font-size: $smedfont;
    padding: 5px;
    margin: 5px; 
  }

  .orderItems label{
    font-size: $xsmallfont;
    width: 250px;
    padding: 10px auto;
    margin: 5px 0px; 
  }

  .orderItems input{
    width: 50px;
    height: auto;
    margin: 10px;
    padding: 5px;
    font-size: $xxsmallfont;
  }

  .orderItems button{
    margin: 10px 15px;
    padding: 5px 10px;
    font-size: $xxsmallfont;
  }

  .pizza-Items label{
    font-size: $xsmallfont;
    width: 150px;
    margin: 0px auto;
  }

  .pizza-Items select{
    margin: 5px 25px;
  }

  .pizza-Items button{
    margin: 15px 0px;
  
  }
  

  .side-Items{
    width: 90%;
    margin: 0px auto;
    
    
  }

  .sandwich-Items{
    width: 90%;
    margin: 0px auto;
    
  }

  .pasta-Items{
    width: 90%;
    margin: 0px auto;
  }

  .pizza-Items{
    width: 90%;
    margin: 0px auto;
    
    
  }  

   .cart{
        width: 90%;
        height: auto;
        margin: 0 auto;
        flex-direction: column;
      }

      .cartItems{
        border-bottom: 1px solid $darkred;
        padding: 10px;
      }

      .cartItems button{
        font-size: $xxsmallfont;
        padding: 8px;
        margin: 5px auto;
       
      }

      .cartItems p{
        font-size: $smallfont;
      }

      .orderedItems p{
        font-size: $xsmallfont;
      }

      .checkoutInfo{
        text-align: center;
        margin: 25px auto;
      }

      .checkoutInfo label{
        font-size: $msmallfont;
        font-weight: bold;
        margin: 10px auto;
        width: 150px;
        display: inline-block;
      }

    .checkoutInfo input{
        margin: 10px 0px;
        padding: 5px;
       
   }

   .checkoutInfo button{
    padding: 5px;
    font-size: $xsmallfont;  
  }

  .shopcart{
    font-size: 36px;
    margin-right: 15px;
  }

  }

  @media only screen and (min-width: 992px) {

    .orderItems h1{
      font-size: $medfont;
      
    }
  
    .orderItems label{
      font-size: $msmallfont;
       
    }
  
    .orderItems input{
      width: 75px;
      font-size: $xsmallfont;
    }

    .orderItems button{
      padding: 10px 15px;
      font-size: $xsmallfont;
    }

    .cartItems p{
      font-size: $lgsmallfont;
    }

    .orderedItems p{
      font-size: $msmallfont;
    }

    .cart h1{
      font-size: $medfont;
      margin-bottom: 50px;
     
    }

  }

  @media only screen and (min-width: 1200px) {

    .cart{
      width: 90%;
      height: auto;
      margin: 0 auto;
      flex-direction: row;
    }

  
    .cartItems{
      flex: 50%;
      border-bottom: none;
      border-right: 1px solid $darkred;
      padding: 10px;
    }

    .checkoutInfo{
      flex: 50%;
    }

    .shopcart{
      font-size: 40px;
    }
    
  }

  @media only screen and (min-width: 1800px){

    .orderItems{
      width: 1800px;
    }

    .cart{
      width: 1800px;
    }

  }