*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
  scroll-behavior:smooth;
}

body{
    background: $green;
    background: radial-gradient(circle, $green 30%, $red 100%);
    color: $white; 
}

img{
    max-width: 100%;
    height: auto;
}

h1, h2{
    font-family: 'BioRhyme', serif;
    font-weight: 800;  
}

p{
    font-family: 'BioRhyme', serif;
    font-weight: 400;
}

.headerNav{
    background-color: $darkred;
    position: sticky; 
    width: 100%;
    top: 0;
    left: 0;

    a:hover{
      color: $green;
    }
}

.hamburger {
    background-color: $darkred; 
    margin: 0;
    display: none;
    position: absolute;
    width: 100%;
    cursor: pointer;
  }

.hamburger div {
    width: 40px;
    height: 2px;
    background-color: $white;
    margin: 6px;
    transition: 0.8s;
  }

  .mobileNav{
      display: none;
  
      a:hover{
        color: $green;
      }
  }




  .show .barOne {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .show .barTwo {
    opacity: 0;
  }
  
  .show .barThree {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  

  .show .mobileNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
  }
