*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
  scroll-behavior:smooth;
}

body{
    background-color: $white;
    color: $white; 
    opacity: 1;
}

.page-container{
  margin: 0px auto;
  padding: 0px;
  z-index: -1;
  position: relative;
}

img{
    max-width: 100%;
    height: auto;
    
}


h1, h2{
    font-family: 'BioRhyme', serif;
    font-weight: 800;

}

p{
    font-family: 'BioRhyme', serif;
    font-weight: 400;
    
}

.overlay{
    //background-image: url(images/retro.jpg);
    width: 100%; 
    position: sticky;
    top: 0;
    left: 0;  
}

.header{
  
 // background-color: rgba(138, 14, 4, 0.4);
  background-color: $black;
  width: 100%;
  padding: 5px;
  border-bottom: 5px solid $darkred;  
 
}

.headerLogo a{
  color: $white;
  text-decoration: none;
}

.headerLogo h1{
  margin: 0px;
  text-align: center;
  text-shadow: 2px 2px 5px $darkgreen, 2px 2px 8px $red;
}

.headerNav{
 
  
    a:hover{
      color: $green;
      text-decoration: underline;
    }
}




.hamburger{
  display: none;
}

.hamburger .bars{
    width: 40px;
    height: 2px;
    background-color: $white;
    margin: 6px;
    transition: 0.8s;
    
  }

  .hamburger .borderBar{
    width: 40px;
    height: auto;
    cursor: pointer;
  }


  .mobileNav{
      display:none;
  
      a:hover{
        color: $green;
        text-decoration: underline;
      }
  }


  .show .barOne {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .show .barTwo {
    opacity: 0;

  }
  
  .show .barThree {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  


  .show .mobileNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: $black;
    
  }

  .aboutSection{
    background-image: url(images/arch.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }

.menuSection{
  background-color: $green;
}
 
.infoSection{
  background-color: $red;
}

