*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: $green;
    background: radial-gradient(circle, $green 30%, $red 100%);
    color: $white; 
}

img{
    max-width: 100%;
    height: auto;
}

h1, h2{
    font-family: 'BioRhyme', serif;
    font-weight: 800;  
}

p{
    font-family: 'BioRhyme', serif;
    font-weight: 400;
}

.headerNav{
    background-color: $darkred;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}

