@import "colors";
@import "_fonts";
@import "_mixin";


@media only screen and (min-width: 601px){

    .header{
        display: flex;
        flex-direction: column;
       
    }

    .headerLogo h1{
        font-size: 2.5rem;
    }

    .headerNav{
     
        
        padding: 5px;

        a{
        font-size: 1.25rem;
        margin: 10px 10px;
        text-shadow: 2px 2px 4px $black;
        @include anchor;
        } 
        
     .order{
            float: right;
            background-color: $red;
            border: 2px solid $darkred;
            border-radius: 20px;
            padding: 5px 10px;
            margin-right: 10px;
            box-shadow: 0px 0px 20px $darkred;
           
            
           
            
            a{
                font-size: $msmallfont;

            }

            a:hover{
                color: $white;
                text-decoration: none;
            }
        }

        .order:hover{
            background-color: $green;
            box-shadow: 0px 0px 20px $green;
        }
     }

     .hamburger a{
        display: none;
     }

    .topSection{
        @include flow;
        margin: 0px;
        img{
            height: 650px;
            width: 100%;
        }
    }

    .topSectionAction{
        top: 60%;
        @include action;
       
        
        p{
            font-size: $xmedfont; 
            @include box;
            opacity: 1;
            
        }
    }

    .aboutSection{
        position: static;
        padding: 25px 5px;
    
    }
    .aboutSectionOne{
        @include card;
        display: inline-flex;
        opacity: 0;
       
        img{
            @include image;
        }
      
        p{
            font-size: $xsmallfont;
            margin: 40px 10px;
            @include paragraph;
        }
    }

    .aboutSectionTwo{
        @include card;
        display: inline-flex;
        flex-direction: row-reverse;
        opacity: 0;
        
        img{
            @include image;
        }

        p{
            font-size: $xsmallfont;
            margin: 60px 10px;
            @include paragraph;

        }
    }

    .aboutSectionThree{
        @include card;
        display: inline-flex;
        opacity: 0;

        img{
            @include image;
        }

        p{
            font-size: $xsmallfont;
            margin: 50px 10px;
            @include paragraph;

        }
    }

    .aboutSectionFour{
        @include card;
        display: inline-flex;
        flex-direction: row-reverse;
        opacity: 0;

        img{
            @include image;
        }

        p{
            font-size: $xsmallfont;
            margin: 60px 10px;
            @include paragraph;

        }
    }

    .menuSection{
        @include flow;
        padding: 25px;
    

        h1{
            font-size: $medfont;
            @include box;
            opacity: 1;
           
           
        }

        h2{
            font-size: $lgsmallfont;
            @include box;
        }

        li{
            font-size: $msmallfont;
            @include list;
        }

        p{
            font-size: $msmallfont;
            @include paragraph;
        }

        table{
            margin-left: auto;
            margin-right: auto;
        }

        th{
            font-size: $msmallfont;
            @include box;
        }

        td{
            font-size: $xsmallfont;
            @include paragraph;
        }
    }

    .menuSectionSides{
        position:inherit;
        opacity: 0;
        padding-top: 50px;
    }

    .menuSectionSandwich{
        position:inherit;
        opacity: 0;
        padding-top: 50px;
    }
  
    .menuSectionPasta{
        position:inherit;
        opacity: 0;
        padding-top: 50px; 

    }

    .menuSectionPizza{
        position:inherit;
        opacity: 0;
        padding-top: 50px;  

    }

    .menuSectionToppings{
        position:inherit;        
        opacity: 0;
        padding-top: 50px; 

    }

    .infoSection{
        @include flow;
        padding: 25px;
       
        
        h1{
            font-size: $medfont;
            @include box;
             
        }

        p{
            font-size: $xsmallfont;
            @include paragraph;
        
        }
    }

    .infoSectionHours{
        position:inherit;
        opacity: 0;
        left: -25px;
        overflow: hidden;
    }

    .infoSectionContact{
        position:inherit;    
        opacity: 0;
        left: -25px; 
        overflow: hidden;
    }


   
    .footerSection{
        @include footer;

        a{
        display: block;
        font-size: $xsmallfont;
        margin: 10px;
        @include anchor;
        }  
      
        p{
            font-size: $xsmallfont;
            @include paragraph;
        }
       
    }
    
}