@import "colors";
@import "_fonts";
@import "_mixin";


@media only screen and (min-width: 601px){

    .headerNav{
        display:inline-flex;
        justify-content: space-around;
        padding: 10px;
        z-index: 1;
        
        
        a{
        font-size: $smallfont;
        margin: 5px;
        @include anchor;

        }  
     }

     .hamburger a{
        display: none;
     }

    .topSection{
        @include flow;

        img{
            height: 750px;
            width: 100%;
        }
    }

    .topSectionAction{
        top: 15%;
        @include action;
        
        
     
        h1{
            font-size: $xlargefont;
            @include box; 
            opacity: 1; 
            display: none;
        }
    
        h2{
            font-size: $medfont; 
            @include box;
            opacity: 1;
            display: none;
        }
    }

    .aboutSection{
        position: static;

        h1{
        font-size: $largefont;
        @include box;
        opacity: 1;
        display: none;
       
    
        
        } 

       
    }
    .aboutSectionOne{
        @include card;
        display: inline-flex;
       
        img{
            @include image;
            

        }
      
        p{
            font-size: $msmallfont;
            margin: 5px;
            @include paragraph;
        }
    }

    .aboutSectionTwo{
        @include card;
        display: inline-flex;
        flex-direction: row-reverse;
        
        img{
            @include image;
        }

        p{
            font-size: $msmallfont;
            margin: 5px;
            @include paragraph;

        }
    }

    .aboutSectionThree{
        @include card;
        display: inline-flex;
        img{
            @include image;
        }

        p{
            font-size: $msmallfont;
            margin: 5px;
            @include paragraph;

        }
    }

    .aboutSectionFour{
        @include card;
        display: inline-flex;
        flex-direction: row-reverse;
        img{
            @include image;
        }

        p{
            font-size: $msmallfont;
            margin: 5px;
            @include paragraph;

        }
    }

    .menuSection{
        @include flow;
    

        h1{
            font-size: $largefont;
            @include box;
            opacity: 1;
            display: none;  
           
        }

        h2{
            font-size: $medfont;
            @include box;
        }

        li{
            font-size: $smallfont;
            @include list;
        }

        p{
            font-size: $smallfont;
            @include paragraph;
        }

        table{
            margin-left: auto;
            margin-right: auto;
        }

        th{
            font-size: $smallfont;
            @include box;
        }

        td{
            font-size: $xsmallfont;
            @include paragraph;
        }
    }

    .menuSectionSides{
        position:inherit;
        left: -100%;
        opacity: 1;
    }

    .menuSectionSandwich{
        position:inherit;
        left: -100%;
        opacity: 1; 
    }
  
    .menuSectionPasta{
        position:inherit;
        left: -100%;
        opacity: 1; 
    }

    .menuSectionPizza{
        position:inherit;
        left: -100%;
        opacity: 1; 
    }

    .menuSectionToppings{
        position:inherit;
        left: -100%;
        opacity: 1; 
    }

    .infoSection{
        @include flow;
       
        
        h1{
            font-size: $largefont;
            @include box;
             
        }

        p{
            font-size: $smallfont;
            @include paragraph;
        
        }
    }

    .infoSectionHours{
        position:inherit;
        left: -100%;
        opacity: 1; 

        h1{
            opacity: 1;
            display: none;
        }

    }

    .infoSectionContact{
        position:inherit;
        left: -100%;
        opacity: 1;   
    }


   
    .footerSection{
        @include footer;

        a{
        display: block;
        font-size: $xsmallfont;
        margin: 10px;
        @include anchor;
        }  
      
        p{
            font-size: $xsmallfont;
            @include paragraph;
        }
       
    }
    
}