@import "colors";
@import "_fonts";
@import "_mixin";


@media only screen and (min-width: 601px){

    .header{
        display: flex;
        flex-direction: column;
       
    }

    .headerNav{
     
        
        padding: 5px;

        a{
        font-size: 1.25rem;
        margin: 10px 10px;
        text-shadow: 2px 2px 4px $black;
        @include anchor;
        } 
        
        .order{
            float: right;
            background-color: $red;
            border: 1px solid $darkred;
            border-radius: 5px;
            padding: 2px;
            margin-right: 10px;
           
            
            a{
                font-size: $msmallfont;

            }

            a:hover{
                color: $white;
                text-decoration: none;
            }
        }

        .order:hover{
            background-color: $darkgreen;
        }

     }

    

     .hamburger a{
        display: none;
     }

    .topSection{
        @include flow;
        //border-bottom: 5px solid $white;
        //border-top: 5px solid $white;
        margin: 4px 0;
        img{
            height: 650px;
            width: 100%;
        }
    }

    .topSectionAction{
        top: 60%;
        @include action;
       
        
        p{
            font-size: $xmedfont; 
            @include box;
            opacity: 1;
            
        }
    }

    .aboutSection{
        position: static;
    
    }
    .aboutSectionOne{
        @include card;
        display: inline-flex;
       
        img{
            @include image;
        }
      
        p{
            font-size: $xsmallfont;
            margin: 40px 10px;
            @include paragraph;
        }
    }

    .aboutSectionTwo{
        @include card;
        display: inline-flex;
        flex-direction: row-reverse;
        
        img{
            @include image;
        }

        p{
            font-size: $xsmallfont;
            margin: 60px 10px;
            @include paragraph;

        }
    }

    .aboutSectionThree{
        @include card;
        display: inline-flex;
        img{
            @include image;
        }

        p{
            font-size: $xsmallfont;
            margin: 50px 10px;
            @include paragraph;

        }
    }

    .aboutSectionFour{
        @include card;
        display: inline-flex;
        flex-direction: row-reverse;
        img{
            @include image;
        }

        p{
            font-size: $xsmallfont;
            margin: 60px 10px;
            @include paragraph;

        }
    }

    .menuSection{
        @include flow;
    

        h1{
            font-size: $medfont;
            @include box;
            opacity: 1;
            display: none;  
           
        }

        h2{
            font-size: $lgsmallfont;
            @include box;
        }

        li{
            font-size: $msmallfont;
            @include list;
        }

        p{
            font-size: $msmallfont;
            @include paragraph;
        }

        table{
            margin-left: auto;
            margin-right: auto;
        }

        th{
            font-size: $msmallfont;
            @include box;
        }

        td{
            font-size: $xsmallfont;
            @include paragraph;
        }
    }

    .menuSectionSides{
        position:inherit;
        left: -100%;
        opacity: 1;

        h2{
            opacity: 1;
            display: none;
        }
    }

    .menuSectionSandwich{
        position:inherit;
        left: -100%;
        opacity: 1; 

        h2{
            opacity: 1;
            display: none;
        }
    }
  
    .menuSectionPasta{
        position:inherit;
        left: -100%;
        opacity: 1; 

        h2{
            opacity: 1;
            display: none;
        }
    }

    .menuSectionPizza{
        position:inherit;
        left: -100%;
        opacity: 1; 

        h2{
            opacity: 1;
            display: none;
        }
    }

    .menuSectionToppings{
        position:inherit;
        left: -100%;
        opacity: 1; 

        h2{
            opacity: 1;
            display: none;
        }
    }

    .infoSection{
        @include flow;
       
        
        h1{
            font-size: $medfont;
            @include box;
             
        }

        p{
            font-size: $xsmallfont;
            @include paragraph;
        
        }
    }

    .infoSectionHours{
        position:inherit;
        left: -100%;
        opacity: 1; 

        h1{
            opacity: 1;
            display: none;
        }

    }

    .infoSectionContact{
        position:inherit;
        left: -100%;
        opacity: 1;
        
        h1{
            opacity: 1;
            display: none;
        }
    }


   
    .footerSection{
        @include footer;

        a{
        display: block;
        font-size: $xsmallfont;
        margin: 10px;
        @include anchor;
        }  
      
        p{
            font-size: $xsmallfont;
            @include paragraph;
        }
       
    }
    
}