@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;800&family=Roboto:wght@400;500;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #ffffff;
  opacity: 1;
}

.page-container {
  margin: 0px auto;
  padding: 0px;
  z-index: -1;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2 {
  font-family: "BioRhyme", serif;
  font-weight: 800;
}

p {
  font-family: "BioRhyme", serif;
  font-weight: 400;
}

.overlay {
  background-image: url(images/retro.jpg);
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}

.header {
  background-color: rgba(138, 14, 4, 0.4);
  width: 100%;
  padding: 5px;
  border-bottom: 5px solid #230401;
}

.headerLogo a {
  color: #ffffff;
  text-decoration: none;
}

.headerLogo h1 {
  margin: 0px;
  text-align: center;
  text-shadow: 2px 2px 5px #1A2B00, 2px 2px 8px #8a0e04;
}

.headerNav a:hover {
  color: #335500;
  text-decoration: underline;
}

.hamburger {
  display: none;
}

.hamburger .bars {
  width: 40px;
  height: 2px;
  background-color: #ffffff;
  margin: 6px;
  transition: 0.8s;
}

.hamburger .borderBar {
  width: 40px;
  height: auto;
  cursor: pointer;
}

.mobileNav {
  display: none;
}
.mobileNav a:hover {
  color: #335500;
  text-decoration: underline;
}

.show .barOne {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.show .barTwo {
  opacity: 0;
}

.show .barThree {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.show .mobileNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: #230401;
}

.aboutSection {
  background-image: url(images/arch.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menuSection {
  background-color: #335500;
}

.infoSection {
  background-color: #8a0e04;
}

@media only screen and (max-width: 600px) {
  .header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
  }

  .headerNav a {
    display: none;
  }

  .headerOrder {
    display: none;
  }

  .headerLogo {
    flex: 100%;
  }

  .headerLogo h1 {
    font-size: 2rem;
    text-align: center;
    margin: 5px 0px 0px 0px;
  }

  .hamburger {
    margin: 18px auto;
    display: block;
    position: absolute;
    flex: 10%;
    top: 0;
    left: 0;
  }

  .hamburger a {
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: "BioRhyme", serif;
    font-weight: 400;
    padding: 10px;
    margin-top: 25px;
  }

  .hamburgerOrder {
    background-color: #8a0e04;
    border: 2px solid #230401;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 30px;
    box-shadow: 0px 0px 20px #230401;
  }
  .hamburgerOrder a {
    font-size: 1.75rem;
  }
  .hamburgerOrder a:hover {
    color: #ffffff;
    text-decoration: none;
  }

  .hamburgerOrder:hover {
    background-color: #1A2B00;
    box-shadow: 0px 0px 20px #335500;
  }

  .topSection {
    position: relative;
    z-index: -1;
    margin: 0px;
  }
  .topSection img {
    width: 100%;
    height: 500px;
  }

  .topSectionAction {
    top: 60%;
    width: 100%;
    position: absolute;
  }
  .topSectionAction p {
    font-size: 1.75rem;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    opacity: 1;
  }

  .aboutSection {
    position: relative;
    z-index: -1;
    margin: 0;
    padding: 20px;
  }

  .aboutSectionOne {
    background-color: #1A2B00;
    border: 2px solid #230401;
    overflow: hidden;
    border-radius: 25px;
    margin: 15px 30px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px black;
    opacity: 1;
  }
  .aboutSectionOne p {
    font-size: 1rem;
    margin: 10px;
    text-align: center;
    padding: 10px;
  }

  .aboutSectionTwo {
    background-color: #1A2B00;
    border: 2px solid #230401;
    overflow: hidden;
    border-radius: 25px;
    margin: 15px 30px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px black;
    opacity: 1;
  }
  .aboutSectionTwo p {
    font-size: 1rem;
    margin: 10px;
    text-align: center;
    padding: 10px;
  }

  .aboutSectionThree {
    background-color: #1A2B00;
    border: 2px solid #230401;
    overflow: hidden;
    border-radius: 25px;
    margin: 15px 30px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px black;
    opacity: 1;
  }
  .aboutSectionThree p {
    font-size: 1rem;
    margin: 10px;
    text-align: center;
    padding: 10px;
  }

  .aboutSectionFour {
    background-color: #1A2B00;
    border: 2px solid #230401;
    overflow: hidden;
    border-radius: 25px;
    margin: 15px 30px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px black;
    opacity: 1;
  }
  .aboutSectionFour p {
    font-size: 1rem;
    margin: 10px;
    text-align: center;
    padding: 10px;
  }

  .menuSection {
    position: relative;
    z-index: -1;
    padding: 25px;
  }
  .menuSection h1 {
    font-size: 2.25rem;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
  }
  .menuSection h2 {
    font-size: 1.5rem;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
  }
  .menuSection table {
    margin-left: auto;
    margin-right: auto;
  }
  .menuSection td {
    font-size: 0.75rem;
  }
  .menuSection li {
    font-size: 1rem;
    text-align: center;
    padding: 5px;
    font-family: "BioRhyme", serif;
    font-weight: 400;
    list-style-type: none;
  }
  .menuSection p {
    font-size: 1rem;
    text-align: center;
    padding: 10px;
  }

  .infoSection {
    position: relative;
    z-index: -1;
    padding: 25px;
  }
  .infoSection h1 {
    font-size: 2.25rem;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
  }
  .infoSection p {
    font-size: 1rem;
    text-align: center;
    padding: 10px;
  }

  .footerSection {
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .footerSection a {
    display: block;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: "BioRhyme", serif;
    font-weight: bold;
    padding: 5px;
  }
  .footerSection p {
    font-size: 1rem;
    text-align: center;
    padding: 10px;
  }
}
@media only screen and (min-width: 601px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .headerLogo h1 {
    font-size: 2.5rem;
  }

  .headerNav {
    padding: 5px;
  }
  .headerNav a {
    font-size: 1.25rem;
    margin: 10px 10px;
    text-shadow: 2px 2px 4px black;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: "BioRhyme", serif;
    font-weight: bold;
    padding: 5px;
  }
  .headerNav .order {
    float: right;
    background-color: #8a0e04;
    border: 2px solid #230401;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 20px #230401;
  }
  .headerNav .order a {
    font-size: 1.25rem;
  }
  .headerNav .order a:hover {
    color: #ffffff;
    text-decoration: none;
  }
  .headerNav .order:hover {
    background-color: #1A2B00;
    box-shadow: 0px 0px 20px #335500;
  }

  .hamburger a {
    display: none;
  }

  .topSection {
    position: relative;
    z-index: -1;
    margin: 0px;
  }
  .topSection img {
    height: 650px;
    width: 100%;
  }

  .topSectionAction {
    top: 60%;
    width: 100%;
    position: absolute;
  }
  .topSectionAction p {
    font-size: 2rem;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    opacity: 1;
  }

  .aboutSection {
    position: static;
    padding: 25px 5px;
  }

  .aboutSectionOne {
    background-color: #1A2B00;
    border: 2px solid #230401;
    overflow: hidden;
    border-radius: 25px;
    margin: 15px 30px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px black;
    display: inline-flex;
  }
  .aboutSectionOne img {
    max-width: 50%;
    height: 300px;
  }
  .aboutSectionOne p {
    font-size: 1rem;
    margin: 40px 10px;
    text-align: center;
    padding: 10px;
  }

  .aboutSectionTwo {
    background-color: #1A2B00;
    border: 2px solid #230401;
    overflow: hidden;
    border-radius: 25px;
    margin: 15px 30px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px black;
    display: inline-flex;
    flex-direction: row-reverse;
  }
  .aboutSectionTwo img {
    max-width: 50%;
    height: 300px;
  }
  .aboutSectionTwo p {
    font-size: 1rem;
    margin: 60px 10px;
    text-align: center;
    padding: 10px;
  }

  .aboutSectionThree {
    background-color: #1A2B00;
    border: 2px solid #230401;
    overflow: hidden;
    border-radius: 25px;
    margin: 15px 30px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px black;
    display: inline-flex;
  }
  .aboutSectionThree img {
    max-width: 50%;
    height: 300px;
  }
  .aboutSectionThree p {
    font-size: 1rem;
    margin: 50px 10px;
    text-align: center;
    padding: 10px;
  }

  .aboutSectionFour {
    background-color: #1A2B00;
    border: 2px solid #230401;
    overflow: hidden;
    border-radius: 25px;
    margin: 15px 30px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px black;
    display: inline-flex;
    flex-direction: row-reverse;
  }
  .aboutSectionFour img {
    max-width: 50%;
    height: 300px;
  }
  .aboutSectionFour p {
    font-size: 1rem;
    margin: 60px 10px;
    text-align: center;
    padding: 10px;
  }

  .menuSection {
    position: relative;
    z-index: -1;
    padding: 25px;
  }
  .menuSection h1 {
    font-size: 2.75rem;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    opacity: 1;
  }
  .menuSection h2 {
    font-size: 1.75rem;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
  }
  .menuSection li {
    font-size: 1.25rem;
    text-align: center;
    padding: 5px;
    font-family: "BioRhyme", serif;
    font-weight: 400;
    list-style-type: none;
  }
  .menuSection p {
    font-size: 1.25rem;
    text-align: center;
    padding: 10px;
  }
  .menuSection table {
    margin-left: auto;
    margin-right: auto;
  }
  .menuSection th {
    font-size: 1.25rem;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
  }
  .menuSection td {
    font-size: 1rem;
    text-align: center;
    padding: 10px;
  }

  .menuSectionSides {
    position: inherit;
    opacity: 1;
  }

  .menuSectionSandwich {
    position: inherit;
    opacity: 1;
  }

  .menuSectionPasta {
    position: inherit;
    opacity: 1;
  }

  .menuSectionPizza {
    position: inherit;
    opacity: 1;
  }

  .menuSectionToppings {
    position: inherit;
    opacity: 1;
  }

  .infoSection {
    position: relative;
    z-index: -1;
    padding: 25px;
  }
  .infoSection h1 {
    font-size: 2.75rem;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
  }
  .infoSection p {
    font-size: 1rem;
    text-align: center;
    padding: 10px;
  }

  .infoSectionHours {
    position: inherit;
    opacity: 1;
  }

  .infoSectionContact {
    position: inherit;
    opacity: 1;
  }

  .footerSection {
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .footerSection a {
    display: block;
    font-size: 1rem;
    margin: 10px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: "BioRhyme", serif;
    font-weight: bold;
    padding: 5px;
  }
  .footerSection p {
    font-size: 1rem;
    text-align: center;
    padding: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .headerNav a {
    margin: 25px;
    font-size: 1.25rem;
  }

  .topSection img {
    display: block;
    margin: auto;
    width: 100%;
    height: 800px;
  }

  .topSectionAction {
    top: 55%;
    width: 100%;
    position: absolute;
  }
  .topSectionAction p {
    font-size: 2.25rem;
  }

  .aboutSectionOne {
    margin: 20px 50px;
  }
  .aboutSectionOne P {
    margin-top: 40px;
    font-size: 1.25rem;
  }

  .aboutSectionTwo {
    margin: 20px 50px;
  }
  .aboutSectionTwo P {
    margin-top: 60px;
    font-size: 1.25rem;
  }

  .aboutSectionThree {
    margin: 20px 50px;
  }
  .aboutSectionThree P {
    margin-top: 50px;
    font-size: 1.25rem;
  }

  .aboutSectionFour {
    margin: 20px 50px;
  }
  .aboutSectionFour P {
    margin-top: 60px;
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    flex-direction: row;
  }

  .headerLogo {
    flex: 35%;
  }
  .headerLogo h1 {
    text-align: left;
    margin-left: 25px;
  }

  .headerNav {
    flex: 65%;
  }
  .headerNav ul {
    margin: 10px auto;
  }
  .headerNav a {
    font-size: 1.5rem;
  }

  .topSection img {
    height: 100vh;
  }

  .topSectionAction p {
    font-size: 2.75rem;
    text-align: center;
    margin-left: 25px;
    width: 60%;
  }

  .aboutSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .aboutSectionOne {
    display: flexbox;
    flex-direction: column;
    width: 35%;
    height: 575px;
  }
  .aboutSectionOne img {
    max-width: 100%;
    height: 350px;
  }
  .aboutSectionOne p {
    margin-top: 10px;
  }

  .aboutSectionTwo {
    display: flexbox;
    flex-direction: column;
    width: 35%;
    height: 575px;
  }
  .aboutSectionTwo img {
    max-width: 100%;
    height: 350px;
  }
  .aboutSectionTwo p {
    margin-top: 25px;
  }

  .aboutSectionThree {
    display: flexbox;
    flex-direction: column;
    width: 35%;
    height: 575px;
  }
  .aboutSectionThree img {
    max-width: 100%;
    height: 350px;
  }
  .aboutSectionThree p {
    margin-top: 20px;
  }

  .aboutSectionFour {
    display: flexbox;
    flex-direction: column;
    width: 35%;
    height: 575px;
  }
  .aboutSectionFour img {
    max-width: 100%;
    height: 350px;
  }
  .aboutSectionFour p {
    margin-top: 25px;
  }

  .menuSection h1 {
    font-size: 3.25rem;
  }
  .menuSection h2 {
    font-size: 2.75rem;
  }
  .menuSection li {
    font-size: 1.5rem;
  }
  .menuSection p {
    font-size: 1.5rem;
    width: 50%;
    margin: auto;
  }
  .menuSection th {
    font-size: 1.5rem;
  }
  .menuSection td {
    font-size: 1.25rem;
  }

  .infoSection h1 {
    font-size: 3.25rem;
  }
  .infoSection p {
    font-size: 1.5rem;
  }
}
.orderBody {
  background-image: url(images/arch.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.orderItems {
  background-color: #ffffff;
  box-shadow: 0px 0px 25px #230401;
  padding: 15px 10px;
}

.orderItems h1 {
  color: #8a0e04;
  text-align: center;
}

.orderItems label {
  color: black;
  text-align: center;
  display: inline-block;
}

.orderItems button {
  background-color: #335500;
  color: #ffffff;
  border: 1px solid #230401;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #230401;
  cursor: pointer;
}

.pizza-Items label {
  text-align: left;
  display: inline-block;
  width: 30%;
}

.pizza-Items input {
  width: auto;
  padding: 0;
  margin: 0;
}

.checkOut {
  width: 100%;
  height: 50px;
  padding: 5px 0px;
  border-top: 1px solid #230401;
  position: relative;
}

.check {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 25px;
  background-color: #8a0e04;
  border: 2px solid #230401;
  border-radius: 20px;
  padding: 5px 10px;
  box-shadow: 0px 0px 20px #230401;
}
.check a {
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
}
.check a:hover {
  color: #ffffff;
  text-decoration: none;
}

.check:hover {
  background-color: #1A2B00;
  box-shadow: 0px 0px 20px #335500;
}

.cart {
  background-color: #ffffff;
  box-shadow: 0px 0px 25px #230401;
  padding: 15px 10px;
  display: flex;
}

.cart h1 {
  color: #8a0e04;
  text-align: center;
}

.cart label {
  color: black;
}

.cart p {
  color: black;
  font-size: 1rem;
  text-align: center;
}

.cartItems div {
  text-align: center;
}

.cartItems p {
  width: 80%;
  margin: 0px auto;
  display: inline-block;
}

.cartItems button {
  background-color: #8a0e04;
  color: #ffffff;
  border: 1px solid #230401;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #230401;
  cursor: pointer;
}

.cartItems #total {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .orderItems {
    width: 95%;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }

  .orderItems h1 {
    font-size: 2.25rem;
    padding: 5px;
    margin: 5px;
  }

  .orderItems label {
    font-size: 1rem;
    width: 150px;
    padding: 10px auto;
    margin: 5px;
  }

  .orderItems input {
    width: 50px;
    height: auto;
    margin: 10px 5px;
    padding: 3px;
    font-size: 0.75rem;
  }

  .orderItems button {
    margin: 10px auto;
    padding: 5px 10px;
  }

  .pizza-Items label {
    width: 75px;
    margin: 0px;
  }

  .pizza-Items select {
    margin: 5px 25px;
  }

  .pizza-Items button {
    margin: 15px 0px;
  }

  .side-Items {
    width: 100%;
    margin: 5px auto;
  }

  .sandwich-Items {
    width: 100%;
    margin: 0 auto;
  }

  .pasta-Items {
    width: 100%;
    margin: 0 auto;
  }

  .pizza-Items {
    width: 100%;
    margin: 0 auto;
  }

  .cart {
    width: 95%;
    height: auto;
    margin: 0 auto;
    flex-direction: column;
  }

  .cart h1 {
    font-size: 2.25rem;
    padding: 5px;
    margin: 5px;
  }

  .cartItems {
    border-bottom: 1px solid #230401;
    padding: 10px;
  }

  .cartItems p {
    font-size: 1.5rem;
  }

  .orderedItems p {
    font-size: 1rem;
  }

  .cartItems button {
    font-size: 0.75rem;
    padding: 8px;
    margin: 5px auto;
  }

  .checkoutInfo {
    text-align: center;
    margin: 25px auto;
  }

  .checkoutInfo label {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 10px auto;
    width: 150px;
    display: inline-block;
  }

  .checkoutInfo input {
    margin: 10px 0px;
    padding: 5px;
  }
}
@media only screen and (min-width: 601px) {
  .orderItems {
    width: 90%;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }

  .orderItems h1 {
    font-size: 2.25rem;
    padding: 5px;
    margin: 5px;
  }

  .orderItems label {
    font-size: 1rem;
    width: 250px;
    padding: 10px auto;
    margin: 5px 0px;
  }

  .orderItems input {
    width: 50px;
    height: auto;
    margin: 10px;
    padding: 5px;
    font-size: 0.75rem;
  }

  .orderItems button {
    margin: 10px 15px;
    padding: 5px 10px;
    font-size: 0.75rem;
  }

  .pizza-Items label {
    font-size: 1rem;
    width: 150px;
    margin: 0px auto;
  }

  .pizza-Items select {
    margin: 5px 25px;
  }

  .pizza-Items button {
    margin: 15px 0px;
  }

  .side-Items {
    width: 90%;
    margin: 0px auto;
  }

  .sandwich-Items {
    width: 90%;
    margin: 0px auto;
  }

  .pasta-Items {
    width: 90%;
    margin: 0px auto;
  }

  .pizza-Items {
    width: 90%;
    margin: 0px auto;
  }

  .cart {
    width: 90%;
    height: auto;
    margin: 0 auto;
    flex-direction: column;
  }

  .cartItems {
    border-bottom: 1px solid #230401;
    padding: 10px;
  }

  .cartItems button {
    font-size: 0.75rem;
    padding: 8px;
    margin: 5px auto;
  }

  .cartItems p {
    font-size: 1.5rem;
  }

  .orderedItems p {
    font-size: 1rem;
  }

  .checkoutInfo {
    text-align: center;
    margin: 25px auto;
  }

  .checkoutInfo label {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 10px auto;
    width: 150px;
    display: inline-block;
  }

  .checkoutInfo input {
    margin: 10px 0px;
    padding: 5px;
  }
}
@media only screen and (min-width: 992px) {
  .orderItems h1 {
    font-size: 2.75rem;
  }

  .orderItems label {
    font-size: 1.25rem;
  }

  .orderItems input {
    width: 75px;
    font-size: 1rem;
  }

  .orderItems button {
    padding: 10px 15px;
    font-size: 1rem;
  }

  .cartItems p {
    font-size: 1.75rem;
  }

  .orderedItems p {
    font-size: 1.25rem;
  }

  .cart h1 {
    font-size: 2.75rem;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .cart {
    width: 90%;
    height: auto;
    margin: 0 auto;
    flex-direction: row;
  }

  .cartItems {
    flex: 50%;
    border-bottom: none;
    border-right: 1px solid #230401;
    padding: 10px;
  }

  .checkoutInfo {
    flex: 50%;
  }
}
@media only screen and (min-width: 1800px) {
  .orderItems {
    width: 1800px;
  }

  .cart {
    width: 1800px;
  }
}
@media only screen and (min-width: 1800px) {
  .overlay {
    width: 1800px;
    margin: 0px auto;
    box-shadow: 0px 0px 25px #230401;
  }

  .page-container {
    width: 1800px;
    border-radius: 10px;
  }

  .headerNav a {
    margin: 25px;
  }

  .topSection img {
    width: 100%;
    box-shadow: 0px 0px 25px #230401;
  }

  .aboutSection {
    justify-content: space-around;
    margin: 0px auto;
    padding: 40px 0px;
    border: 2px solid #230401;
    box-shadow: 0px 0px 25px #230401;
  }

  .aboutSectionOne {
    width: 30%;
  }
  .aboutSectionOne img {
    height: 400px;
  }

  .aboutSectionTwo {
    width: 30%;
  }
  .aboutSectionTwo img {
    height: 400px;
  }

  .aboutSectionThree {
    width: 30%;
  }
  .aboutSectionThree img {
    height: 400px;
  }

  .aboutSectionFour {
    width: 30%;
  }
  .aboutSectionFour img {
    height: 400px;
  }

  .menuSection {
    box-shadow: 0px 0px 25px #230401;
  }

  .infoSection {
    box-shadow: 0px 0px 25px #230401;
  }

  .footerSection {
    width: 1800px;
    margin: 0 auto;
    box-shadow: 0px 0px 25px #230401;
  }
}

/*# sourceMappingURL=styles.css.map */
