@import "colors";
@import "_standard";
@import "_mobile";
@import "_tablet";
@import "_fonts";
@import "_mixin";
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;800&family=Roboto:wght@400;500;900&display=swap');



@media only screen and (min-width: 992px) {

    .headerNav{
        a{
            font-size: $smedfont;
        }
    }

    .topSection{
        
        img{
            display: block;
            margin: auto; 
            width: 100%;
            height: 100vh;
        }
    }

    .topSectionAction{
        top: 15%;
        @include action;

        h1{
            font-size: $xxlfont;
        }

        h2{
            font-size: $largefont;
        }
      
    }

    .aboutSectionOne{
        
        P{
        margin-top: 20px;
        }
    }

    .aboutSectionTwo{
        
        P{
        margin-top: 20px;
        }
    }

    .aboutSectionThree{
        
        P{
        margin-top: 20px;
        }
    }

    .aboutSectionFour{
        
        P{
        margin-top: 20px;
        }
    }
    
}

@media only screen and (min-width: 1200px) {

    .aboutSection{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        h1{
            width: 100%;
        }
       
    }
    .aboutSectionOne{
        display:flexbox;
        flex-direction: column;
        width: 40%;
        height: 600px;

        img{
            max-width: 100%;
            height: auto;
        }

    }

    .aboutSectionTwo{
        display:flexbox;
        flex-direction: column;
        width: 40%;
        height: 600px;


        img{
            max-width: 100%;
            height: auto;
        }
    }

    .aboutSectionThree{
        display:flexbox;
        flex-direction: column;
        width: 40%;
        height: 600px;

        img{
            max-width: 100%;
            height: auto;
        }
    }

    .aboutSectionFour{
        display:flexbox;
        flex-direction: column;
        width: 40%;
        height: 600px;

        img{
            max-width: 100%;
            height: auto;
        }
    }
}



