@import "colors";
@import "_standard";
@import "_mobile";
@import "_tablet";
@import "_largeScreen";
@import "_fonts";
@import "_mixin";
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;800&family=Roboto:wght@400;500;900&display=swap');



@media only screen and (min-width: 1800px){

    .topSection{

        img{
            width: 65%;
            box-shadow: 15px 15px 5px $darkred;
            border-radius: 20px;
            margin-top: 10px;
        }
    }

    .aboutSection{

        h1{
            font-size: $xlargefont;
        }
    }

    .aboutSectionOne{
        width: 33%;
        height: 850px;
  
        img{
            height: 400px;
        }

        p{
            font-size: $smedfont;
        }
    }

    .aboutSectionTwo{
        width: 33%;
        height: 850px;
  
        img{
            height: 400px;
        }

        p{
            font-size: $smedfont;
        }
    }

    .aboutSectionThree{
        width: 33%;
        height: 850px;
  
        img{
            height: 400px;
        }

        p{
            font-size: $smedfont;
        }
    }

    .aboutSectionFour{
        width: 33%;
        height: 850px;
  
        img{
            height: 400px;
        }

        p{
            font-size: $smedfont;
        }
    }

    .menuSection{

        h1{
            font-size: $xlargefont;
        }

        h2{
           font-size: $largefont; 
        }

        li{
            font-size: $smedfont;
        }

        p{
            font-size: $smedfont;
        }

        th{
            font-size: $smedfont;
        }

        td{
            font-size: $smallfont;
        }
    }

    .infoSection{

        h1{
            font-size: $xlargefont;
        }

        p{
            font-size: $smedfont;
        }
    }

}




